version "/path/to/file@@/main/some/version/2"
  created 2010-03-04T15:29:03+10:00 by Charles O'Farrell
  Element Protection:
    User : user     : r--
    Group: group    : r--
    Other:          : r--
  element type: xml
  predecessor version: /path/to/file@@/main/some/version/1
  Labels:
    some_label
  Attached activity:
    activity:deliver.baseline@/prod/ji_proj  "Commit message"
  Hyperlinks:
    Merge -> /path/to/file@@/main/other/version/2
    Merge <- /path/to/file@@/main/version/1
